<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spring Boot Thymeleaf Hello World Example</title>
</head>
<body>
    <style>
        body {
            padding-top: 5rem;
        }

        h1{
            color:#0000FF;
        }

        h2{
            color:#FF0000;
        }
    </style>
<h1>Spring Boot Thymeleaf Hello World Example</h1>
</body>
</html>